.page-title {
    padding-left: 25px;
}

.error {
    color: #d50000;
}

.warning {
    color: goldenrod;
}

.success {
    color: limegreen;
}

.form-control {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.input-group-text {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}